:root {
    /*colors*/
    --neutral-color: wheat;
    --light-red: #F2542D;
    --dark-red: #562C2C;
    --light-green: #0E9594;
    --dark-green: #19323C;
}
html {
    background-color: var(--neutral-color);
}

header {
    background-color: var(--light-red);
}

main {
    background-color: var(--light-green);
}

footer {
    background-color: var(--light-red);
}