:root {
    /*colors*/
    --dark-red: #562c2cff;
    --med-red: #a4402dff;
    --light-red: #f2542dff;
    --dark-neutral: #F49A74;
    --neutral-color: #f5dfbbff;
    --light-green: #0e9594ff;
    --med-green: #108585ff;
    --dark-green: #127475ff;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--dark-neutral);
}

/* Nav Bar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: var(--dark-red);
    color: var(--light-green);
}

nav a {
    color: var(--light-green);
    margin-left: 1em;
    text-decoration: none;
}

/* Header */
.heading {
    text-align: center;
    padding: 3em;
    background: linear-gradient(
        to right, var(--dark-green) 0%,
        var(--med-green) 50%,
        var(--dark-green) 100%);
    color: var(--light-red);
}

/* Cards */
.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    padding: 2em
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    background: var(--neutral-color);
    border-radius: 2em 1em;
    transition: all 200ms;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card p {
    margin: 1em;
    font-size: 1.2em;
}

.card img {
    max-width: 8em;
    height: auto;
    border-radius: 1em;
}

.card:hover {
    background: var(--light-green);
    transform: scale(1.05);
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
}

#credits {
    font-size: 0.8em;
    gap: 1em;
    padding: 1em;
}

#credits a {
    color: black;
    text-decoration: none;
}