<!doctype html>
<nav class="navbar">
    <div class="nav-brand">Navigation</div>
    <button class="hamburger" id="hamburger">&#9776</button>
    <ul class="nav-list" id="nav-list">
        <li><a href="./index.html">Home</a></li>
        <li><a href="./src/cryptography.html">Cryptography</a></li>
        <li><a href="./src/machining.html">Machining</a></li>
        <li><a href="./src/steam.html">Steam</a></li>
        <li><a href="src/about.html">About</a></li>
        <li><a href="src/contact.html">Contact</a></li>
    </ul>
</nav>