<!doctype html>
<nav class="navbar">
    <div class="nav-brand">Navigation</div>
    <button class="hamburger" id="hamburger">&#9776</button>
    <ul class="nav-list" id="nav-list">
        <li><a href="../index.html">Home</a></li>
        <li><a href="./cryptography.html">Cryptography</a></li>
        <li><a href="./machining.html">Machining</a></li>
        <li><a href="./steam.html">Steam</a></li>
        <li><a href="./about.html">About</a></li>
        <li><a href="./contact.html">Contact</a></li>
    </ul>
</nav>